<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pam.exercise1_140_a">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Exercise1_140_A">
        <activity
            android:name=".activity_result"
            android:exported="false" />
        <activity
            android:name=".activity_task"
            android:exported="false" />
        <activity
            android:name=".activity_register"
            android:exported="false" />
        <activity
            android:name=".activity_login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>